
/*text and headers*/

h1{
    text-align:center;
    margin:0 auto;
    font-weight:600 !important;
    color:#2e4600;
}

h2{
    text-align:center;
    margin:0 auto;
    font-weight:700 !important;
    color:#888;
}

h3{
    text-align:center;
    margin:0 auto;
    font-weight:800 !important;
    color:#333;
}

/*about*/


.aboutsections{
    display: inline-block;
    position: relative;
    text-align:center;
}

#aboutsection, #referencessection{
    text-align:center;
    width:45%;
    height: 155px;
    background-color: #fbfbfbb8;
    border-radius:2px;
}

#referencessection{
    padding:15px;
}

#aboutsection{
    padding:15px;
}

.iconabout{
    position: relative !important;
    width: 100px;
    height: 100px;
    top: -60px;
    /* color: #ea550a !important; */
    /* background-color: #ea550a; */
    background-color: #2a3c07 !important;
    /* display: block; */
    text-align: center;
    margin: auto;
}

.headerabout{
    width: 100%;
    height: auto;
    border-radius: 1px;
    font-size: 24px;
    color: #2e4600;
    font-weight: 800;
    position: relative;
    display:block;
    top: -55px;
}

.textabout{
    text-align: center;
    font-weight:600;
    color:#444;
    display:block;
    position: relative;
    top: -55px;
}

.linkabout{
    /* margin: auto; */
    /* text-align: center; */
    color: #ea550a;
    /* display: block; */
    position: relative;
    top: -50px;
    font-weight: 800;
}


/*Form*/
form{
    text-align: center;
    /* margin: auto; */
    width: 730px;
    height: 400px;
    margin:auto;
    position: static;
    display: inline-block;
    /* background-color: #888;*/
}

.g-recaptcha{

    margin-top: 8px !important;
}

.formPart{
    text-align: center;
    width: 350px;
    float: left;
}
.formPart:first-child{
    margin-right: 20px;
}

input, textarea{
    border-radius:3px;
    border:2px solid #dcdcdc;
    padding: 10px;
    width: 350px;
    font-size: 16px;
    font-weight: 900;
    color: #ea550a;
}

input:focus, textarea:focus{
    outline: none !important;
    border-color: #ea550a;
}

textarea{
    resize:none;
}

label{
    font-size: 18px;
    font-weight: 900;
    color: #2e4600;
}

input[type="submit"]{
    background-color: #ea550a;
    color: white;
    border: none;
    font-weight: 900;
    height: 60px;
    /* width: 214px; */
    transition-duration: 2s;
}

#button{
    background-color: #ea550a;
    color: white;
    border: none;
    font-weight: 900;
    height: 60px;
    width: 214px;
    transition-duration: 2s;
    border-radius:3px;
    padding-top: 17px;
}

input[type="submit"]:hover{
    background-color: #2e4600;
    cursor:pointer;
}

#button:hover{
    background-color: #2e4600;
    cursor:pointer;
}


/*map*/

#map{
    position: static;
    display: inline-block;
}


/*contact*/
#contactInfo{
    position: static;
    display: inline-block;
    text-align:left;
}

#contLogo{
    display: inline-block;
    position: absolute;
    width: 250px;
}

#contLogoSolo{
    text-align: center;
    margin: auto;
    position: inherit;
}

/*References*/
.refCit{
    text-align: center;
    margin: auto;
    max-width: 52%;
    margin-bottom: 10px;
    line-break: normal;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
    -webkit-box-shadow: 0px 8px 48px -16px rgba(0,0,0,0.93);
    -moz-box-shadow: 0px 8px 48px -16px rgba(0,0,0,0.93);
    box-shadow: 0px 7px 17px -16px rgba(0,0,0,0.93);
}

.refCitBold{
    color:#527709;
    font-weight:900;
    letter-spacing: 2px;
}


/*Imag*/
.overlayGall{
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }


  /*Footer*/
  #footerNav{
    position:relative;
    displaY:inline-block;
    width:auto;
    height:auto;
    color:white;
    font-size:17px;
    font-weight:700;
    margin:auto;
  }


  #footerNav > a:hover{
    transition: .2s ease;
    color:#69980e;
  }

  #socialMedia{
    position: relative;
    displaY: inline-block;
    width: 120px;
    height: auto;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin: auto;
    bottom: 26%;
    margin-left: 20px;
  }

  #FCB{
    color:#0770f3;
  }

  #INS{
    color:#dd2a7b;
  }

  #authors{
    position: relative;
    displaY: inline-block;
    width: 150px;
    height: auto;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: auto;
    bottom: 26%;
    margin-left: 20px;
  }

  /*Products*/
  .productsP{
      width:70%;
      font-weight:500;
      font-size:20px;
      letter-spacing: 1px;
      text-align:justify;
      margin:auto;
      line-height: 50px;
      color:#465f18;
  }

  .actionLink{
      color:#f3793c;
      text-align:center;
      margin-top:15px;
      text-decoration: underline;
  }


  /*About*/
  .aboutP{
    width:70%;
    font-weight:500;
    font-size:20px;
    letter-spacing: 1px;
    text-align:justify;
    margin:auto;
    line-height: 50px;
    color:#465f18;
  }

  .refCitBoldOrange{
    margin:auto;
    color:#ea550a;
    font-weight: 900;
    letter-spacing: 2px;
    font-size:18px;
  }